<div class=" headerBackground">
    <div class="content d-flex justify-content-center align-items-center flex-column gap-3">
        <h2 class="text-white h1 fw-bolder">ABOUT US</h2>
    <div class="decorations d-flex justify-content-center align-items-center gap-3">
        <div class="line"></div>
        <i class="fa-solid fa-star text-white"></i>
        <div class="line"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda impedit nihil aperiam iusto laboriosam ipsum maiores fuga nisi, vel deleniti? Nulla deleniti doloribus quasi, odio voluptatibus officiis temporibus aspernatur dolores.</p>
            </div>
            <div class="col-md-6">
                <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda impedit nihil aperiam iusto laboriosam ipsum maiores fuga nisi, vel deleniti? Nulla deleniti doloribus quasi, odio voluptatibus officiis temporibus aspernatur dolores.</p>
            </div>
        </div>
    </div>
   
    </div>
    
</div>