<div class="headerBackground">
    <div class="content d-flex justify-content-center align-items-center flex-column gap-3">
        <h1 class="text-white">SEND MESSAGE TO US!</h1>
        <div class="decorations d-flex justify-content-center align-items-center gap-3">
            <div class="line"></div>
            <i class="fa-solid fa-star text-white"></i>
            <div class="line"></div>
        </div>
        <form>
            <input class="form-control mt-3" type="text" placeholder="Please Enter Username">
            <input class="form-control mt-3" type="text" placeholder="Please Enter Age">
            <input class="form-control mt-3" type="email" placeholder="Please Enter Email">
            <input class="form-control mt-3" type="text" placeholder="Please Enter Password">
            <button class="btn btn-primary mt-4 m-auto w-100">Send Message</button>
        </form>
    </div>
</div>